<Project>
    <!--
        This file is used to control the platforms compiled by visual studio, and
            allow for a faster build when testing for a single platform.

            Instructions:
            1) Copy this file and remove the ".sample" name
            2) Uncomment and adjust the properties below
            3) Make sure to do a Rebuild, so that nuget restores the proper packages for the new target
    -->

    <PropertyGroup>
        <!-- Uncomment each line for each platform that you want to build: -->

        <!-- <WindowsOverrideTargetFramework Condition="''!='hint: Windows App Sdk (WinUI)' and ($([MSBuild]::IsOSPlatform('windows')) or '$(EnableWindowsTargeting)' == 'true')">$baseTargetFramework$-windows10.0.19041.0</WindowsOverrideTargetFramework>  -->
        <!-- <NeutralOverrideTargetFramework Condition="''!='hint: WASM, Skia'">$baseTargetFramework$</NeutralOverrideTargetFramework>  -->
        <!-- <MobileOverrideTargetFrameworks Condition="''!='hint: $baseTargetFramework$ iOS'">$(MobileOverrideTargetFrameworks);$baseTargetFramework$-ios</MobileOverrideTargetFrameworks>  -->
        <!-- <MobileOverrideTargetFrameworks Condition="''!='hint: $baseTargetFramework$ Android'">$(MobileOverrideTargetFrameworks);$baseTargetFramework$-android</MobileOverrideTargetFrameworks>  -->
        <!-- <MobileOverrideTargetFrameworks Condition="''!='hint: $baseTargetFramework$ macOS Catalyst'">$(MobileOverrideTargetFrameworks);$baseTargetFramework$-maccatalyst</MobileOverrideTargetFrameworks>  -->
    </PropertyGroup>

</Project>
